.footer {
    background-color: #194A97;
    padding: 100px 0 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 113px;
}

.footer-top, .footer-bottom-l, .footer-bottom, .footer-top-col-l {
    display: flex;
}

.footer-bottom-l, .footer-bottom {
    align-items: center;
}

.footer-bottom {
    justify-content: space-between;
    a, p {
        font-weight: 400;
        font-size: 13px;
        color: #ffffff;
    }

    a:hover {
        color: #38C1BF;
    }
}

.footer-bottom-l p, .footer-bottom-l a {
    opacity: 0.6;
}

.footer-bottom-l {
    p {
        display: block;
        margin-right: 40px;
    }
}

.col-top > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.footer-top-col-r {
    display: flex;

    & > div:first-child {
        margin-right: 70px;
    }
}

.col-services {
    display: flex;

    .col-l {
        margin-right: 30px;
    }
}

.logo-footer > img {
    width: 243px;
}

.col-bottom {
    li {
        margin-bottom: 5px;
    }

    li a {
        font-weight: 400normal;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0.8;
        transition: .3s;
    }

    li a:hover {
        color: #38C1BF;
    }
}

.col-link {
    a {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0.8;
        transition: .3s;
        margin-bottom: 8px;
    }
    a:first-child {width: 185px;}
    a:hover {
        color: #38C1BF;
    }
}

.social-footer {
    margin: 22px 0 38px;
    a {
        display: inline-block;
        position: relative;
        width: 28px;
        height: 28px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-right: 10px;
    }
    a::after {
        content: '';
        display: block;
        position: absolute;
        transition: .3s;
    }
    a:nth-child(1)::after {
        background-image: url(../images/vectors/facebook.svg);
        background-size: 8px 16px;
        width: 8px;
        height: 16px;
        top: 6px;
        left: 10px;
    }
    a:nth-child(1):hover::after {background-image: url(../images/vectors/facebook-h.svg);}
    a:nth-child(2)::after {
        background-image: url(../images/vectors/vk.svg);
        background-size: 17px 10px;
        width: 17px;
        height: 10px;
        top: 9px;
        left: 5px;
    }
    a:nth-child(2):hover::after {background-image: url(../images/vectors/vk-h.svg);}
    a:nth-child(3)::after {
        background-image: url(../images/vectors/inst.svg);
        background-size: 14px 14px;
        width: 14px;
        height: 14px;
        top: 7px;
        left: 7px;
    }
    a:nth-child(3):hover::after {background-image: url(../images/vectors/inst-h.svg);}
}
.logo-footer {
    margin-right: 60px;
}

@media screen and (max-width: 1150px) {
    .logo-footer img {
        width: 230px;
    }
    .footer-top-col-l,.footer-top-col-r {
        flex-direction: column;
    }
    .footer-top-col-l {margin-right: 14vw;}
    .footer-top {
        justify-content: flex-start;
    }
    .col-services {
        flex-direction: column;
    }
    footer {
        position: relative;
    }
    .footer {padding-top: 144px; padding-bottom: 80px;}
    .logo-footer {
        position: absolute;
        top: -90px;
    }
    .footer-bottom {
        align-items: flex-end;
        flex-direction: column-reverse;
        align-items: baseline;
    }
    .footer-top {
        margin-bottom: 50px;
    }
    .footer-bottom > p {
        margin-bottom: 50px;
    }
    .footer-bottom-l {
        flex-direction: column;
        align-items: baseline;

        p {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer-top {
        flex-direction: column;
    }
}