.gallery-wrapper {
  margin-bottom: 100px;
}

.gallery-wrapper img {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-wrapper .owl-nav {
  position: relative;
}

.gallery-wrapper .owl-nav button {
  margin: 0 !important;
  padding: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #FFFFFF !important;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 25, 66, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 25, 66, 0.2);
  border-radius: 50% !important;
  top: -350px;
  -webkit-transition: .3s;
  transition: .3s;
}

.gallery-wrapper .owl-nav button span {
  display: block;
  background-image: url(../images/vectors/arrow-u.png);
  width: 50px;
  height: 50px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery-wrapper .owl-nav button:first-child {
  left: 40px;
  background: rgba(255, 255, 255, 0.6) !important;
}

.gallery-wrapper .owl-nav button:first-child span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.6;
}

.gallery-wrapper .owl-nav button:first-child:hover span {
  background-image: url(../images/vectors/arrow-x.png);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.gallery-wrapper .owl-nav button:last-child {
  right: 40px;
}

.gallery-wrapper .owl-nav button:last-child span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.gallery-wrapper .owl-nav button:last-child:hover span {
  background-image: url(../images/vectors/arrow-x.png);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.gallery-wrapper .owl-nav span {
  font-size: 0;
}

.gallery-wrapper .owl-nav button:hover, .gallery-wrapper .owl-nav button:focus {
  background-color: #38C1BF !important;
}

.gallery-magnific {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 11px;
  margin-bottom: 180px;
}

.gallery-magnific a {
  display: block;
  margin: .2%;
  width: 24.5%;
  height: 210px;
}

.gallery-magnific a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

@media screen and (max-width: 1150px) {
  .gallery-wrapper img {
    height: 380px;
  }
  .gallery-wrapper .owl-nav button {
    top: -225px;
  }
  .gallery-wrapper .owl-nav button:first-child {
    left: 20px;
  }
  .gallery-wrapper .owl-nav button:last-child {
    right: 20px;
  }
  .gallery-wrapper {
    margin-bottom: 100px;
    margin-left: -21px;
    width: 100vw;
  }
}

@media screen and (max-width: 900px) {
  .gallery-magnific a {
    margin: .2%;
    width: 32.5%;
  }
  .gallery-magnific {
    padding: 0 10px 0 21px;
    margin-bottom: 120px;
  }
  .gallery-wrapper {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 900px) {
  .gallery-magnific a {
    margin: .2%;
    width: 49.5%;
  }
  .gallery-magnific {
    padding: 0 21px 0 21px;
  }
}

@media screen and (max-width: 600px) {
  .gallery-wrapper {
    margin-left: -10px;
  }
}

@media screen and (max-width: 550px) {
  .gallery-magnific a {
    margin: 1% 0;
    width: 100%;
  }
  .gallery-magnific {
    padding: 0 10px;
  }
  .gallery-wrapper img {
    height: 300px;
  }
  .gallery-wrapper .owl-nav button {
    top: -180px;
  }
  .gallery-wrapper .owl-nav button:first-child {
    left: 10px;
  }
  .gallery-wrapper .owl-nav button:last-child {
    right: 10px;
  }
}
/*# sourceMappingURL=gallery.css.map */