.under-up {
    display: flex;
    margin-bottom: 60px;

    & > p {
        max-width: 570px;
        margin-right: 20px;
    }

}
.right-text {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    max-width: 580px;

    p {
        width: 33%;
        margin-bottom: 20px;
    }

    p::before {
        content: '';
        display: inline-block;
        background: #38C1BF;
        height: 6px;
        width: 6px;
        margin-right: 10px;
        border-radius: 50%;
        margin-bottom: 2px;
    }
}

.service-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 190px;
}

.service-elem {
    width: 24.5%;
    height: 230px;
    margin: .2%;
    background: #DFEBFF;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .3s;
        border-radius: 6px;
    }

    &:nth-child(10) div{background: #B5F2FF;}

    ul {
        padding: 0 20px 20px;
        transition: 0.3s;
        opacity: 0;
        margin-top: 20px;

        li {
            margin-top: 10px;
        }

        a {
            color: white;
            display: inline-block;
            text-decoration: underline;
        }

        a:hover {
            color: #194A97;
        }

        a::after {
            content: '';
            display: inline-block;
            background-image: url(../images/vectors/arrow-l.png);
            transform: rotate(180deg);
            width: 10px;
            height: 10px;
            background-size: 10px;
            margin-left: 10px;
        }

        a:hover::after {
            background-image: url(../images/for-delete/arrow-r.png);
            transform: rotate(0deg);
        }
    }

& div > a {
    text-transform: uppercase;
    color: #194A97;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;

    padding: 20px 20px 0px 20px;

    i {
        display: inline-block;
        margin-right: 10px;
        width: 50px;
        min-width: 50px;
        height: 50px;
        background-size: 50px;
        background-repeat: no-repeat;
    }
}
}

#serviceWrapper .service-elem:hover:nth-child(3) ul,
#serviceWrapper .service-elem:focus:nth-child(3) ul,
#serviceWrapper .service-elem:active:nth-child(3) ul {
    margin-top: 28px;
}

.service-elem:hover, .service-elem:focus, .service-elem:active {z-index: 3;}

.service-elem:hover div, .service-elem:focus div, .service-elem:active div {
    background: linear-gradient(121.84deg, #2571E2 -1.08%, #21BDEE 101.08%) !important;
    min-height: 100%;
    height: auto;

    & > a {color: #FFFFFF;}

    ul {
        opacity: 1;
    }
}


.elem-disable {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 48px auto;
    background-position: center;
    z-index: 0;
}

.elem-disable-0 {
    background-image: url(../images/vectors/circle.png);
}

.elem-disable-1 {
    background-image: url(../images/vectors/line.png);
}

.elem-disable-2 {
    background-image: url(../images/vectors/trel.png);
}

.elem-disable-3 {
    display: none;
}

.teeth-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;

    .l-col-teeth {
        position: relative;
        margin-left: 10vw;

        img.img-teeth {
            display: inline-block;
            width: 340px;
            height: 340px;
            border-radius: 50%;
        }

        .abs-t1 {
            display: inline-block;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .abs-t2 {
            display: inline-block;
            width: 34px;
            height: 34px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .r-col-teeth {
        width: 544px;

        img {
            display: none;
            width: 290px;
            height: 290px;
            float: left;
        }

        h2 {
            color: #194A97;
        }

        p {
            margin-top: 20px;
        }
    }
}

.naprav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .left-text {
        max-width: 563px;

        h2 {
            color: #194A97;
        }

        span {
            color: #38C1BF;
        }

        p {
            margin-top: 30px;
        }
    }
}

.text-r {
    max-width: 580px;

    .right-text {
        margin: 50px 0;
    }

    & > *:nth-child(3) {
        margin-bottom: 50px;
    }

    a {
        display: inline-block;
        cursor: pointer;
        color: #194A97;
        transition: .3s;
    }

    a::after {
        content: '';
        display: inline-block;
        background-image: url(../images/vectors/arrow-ui.png);
        width: 12px;
        height: 7px;
        background-size: 12px 6px;
        background-repeat: no-repeat;
        margin-left: 10px;
    }

    a:hover::after, a:focus::after {
        background-image: url(../images/vectors/arrow-u.png);
        transform: rotate(180deg);
    }

    a:hover, a:focus {
        color: #38C1BF;
    }
}

.service-block {
    padding: 30px 0 50px;
    border-top: 1px solid rgba($color: #121212, $alpha: 0.3);

    display: flex;
    justify-content: space-between;


    a {
        color: #194A97;
        font-weight: 500;
        font-size: 26px;
        line-height: 140%;
    }

    li {
        position: relative;
        padding-left: 21px;
        margin-top: 10px;

        p {
            margin-bottom: 0 !important;
        }
    }

    li::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 6px;
        height: 6px;
        background: #38C1BF;
        border-radius: 50%;
        margin-right: 15px;
    }

    ul {
        margin-bottom: 20px;
    }
    .blok-l {
        max-width: 40%;
    }

    .blok-r {
        width: 580px;
    }

    p {
        margin-bottom: 20px;
    }

    .blok-r > *:last-child {
        margin-bottom: 0;
    }
}

.last {
    border-top: none;
    padding: 0;

    a {
        color: #194A97;
        transition: .3s;
        font-weight: normal;
        font-size: 16px;
        cursor: pointer;
    }

    a:hover, a:focus {
        color: #38C1BF;
    }

    a::after {
        content: '';
        display: inline-block;
        position: relative;
        transform: rotate(180deg);
        width: 12px;
        height: 6px;
        background-size: 12px 6px;
        background-repeat: no-repeat;
        background-image: url(../images/vectors/arrow-ui.png);
        margin-left: 10px;
        top: -1px;
    }

    a:hover::after, a:focus::after {
        background-image: url(../images/vectors/arrow-u.png);
        transform: rotate(0deg);
    }
}

.last-section {
    margin-bottom: 120px;
}

@media screen and (max-width: 1200px) {
    .elem-disable {display: none;}
    .service-elem {width: 32.9%;}
    .elem-disable-3 {display: inline-block;}
    .service-wrapper {margin-bottom: 120px;}

    .naprav {flex-direction: column; & > * {max-width: 100% !important}}

    .text-r .right-text {
        max-width: 640px;
        p {
            width: 25%;
        }
    }
}


@media screen and (max-width: 1100px) {
    .under-up {
        flex-direction: column;
        margin-bottom: 40px;

        .right-text {
            max-width: 580px;
            margin-left: 0;
            margin-top: 30px ;
        }
    }
    
    .teeth-block .l-col-teeth {
        margin-left: 5vw;
        margin-right: 30px;

        img.img-teeth {
            width: 290px;
            height: 290px;
        }
    }
    .teeth-block .r-col-teeth {
        width: 544px;

        img {
            display: none;
            width: 290px;
            height: 290px;
            float: left;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }
    }
    .service-block {
        flex-direction: column;

        .blok-r {
            margin-top: 30px;
        }
    }
    .service-block p {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    .service-elem {width: 49.6%;}
}

@media screen and (max-width: 850px) {
    .teeth-block .r-col-teeth {
        width: 100%;
    }
    .teeth-block .r-col-teeth img {
        display: inline-block;
        margin: 0 25px 25px 0;
    }
    .teeth-block .l-col-teeth {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .text-r .right-text {
        max-width: 100%;
        p {
            width: 50%;
        }
    }
    .service-block .blok-r {
        width: 100%;
    }
}

@media screen and (max-width: 610px) {
    .service-elem {width: 100%;margin: 1% 0}
    .elem-disable-3 {display: none;}
    .teeth-block .r-col-teeth img {
        display: none;
    }
    .teeth-block {flex-direction: column;margin-bottom: 120px;}
    .teeth-block .l-col-teeth {
        display: block;
        margin: 0 0 30px;

        .abs-t1, .abs-t2 {display: none;}
        img.img-teeth {
            display: block;
            width: 300px;
            height: 300px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 500px) {
    .under-up .right-text p {
        width: 50%;
    }
}