@import './normalize.scss';
@import './constants.scss';
@import './header.scss';
@import './footer.scss';
@import './404.scss';
@import './contacts.scss';
@import './policy.scss';
@import './popup.scss';
@import './price.scss';
@import './specialists.scss';
@import './specialist.scss';
@import './about.scss';
@import './blog.scss';
@import './blog-template.scss';
@import './gallery.scss';
@import './services.scss';
@import './service-template.scss';
@import './sub-service-template.scss';

button {
    outline: none;
}

.first-slide-index {
    width: 100vw;
    height: 84vh;
    position: relative;

    .owl-dots {
        position: absolute;
        bottom: 40px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .owl-dot {
            margin: 0;
            transition: .3s;
        }

        .owl-dot:hover span {
            background: #38C1BF;
        }

        .owl-dot span {
            background: #FFFFFF;
            height: 6px;
            width: 6px;
        }

        .owl-dot.active span {
            background: #38C1BF;
            height: 10px;
            width: 10px;
        }
    }
}

.first-slide-elem {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 84vh;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    section {
        z-index: 2;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            max-width: 720px;
        }
    }

    .info-first-slide {
        display: flex;
        flex-wrap: wrap;

        &>* {
            line-height: 21px;
        }

        h4 {
            margin-right: 20px;
            color: #38C1BF;
        }
        h5 {
            color: white;
        }
    }

    h1 {
        color: white;
        margin: 7px 0 0;
    }

    p {
        color: white;
        margin: 7px 0 40px;
        font-weight: 500;
    }
}

.dark-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.owl-nav-wrapper {
    position: relative;
    z-index: 5;
}

#owlNav {
    position: absolute;
    right: 0;
    bottom: 45px;

    a {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin-right: 15px;
        background-color: #FFFFFF;
        border-radius: 50%;
        transition: .3s;
    }

    a::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 55px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 8px 16px;
    }

    a:hover {
        background: #38C1BF;
    }

    a:first-child::after {
        background-image: url(../images/vectors/1.png);
        transform: rotate(180deg);
        width: 45px;
    }

    a:last-child::after {
        background-image: url(../images/vectors/1.png);
    }

    a:first-child {
        opacity: .6;
    }

    a:hover::after, a:focus::after {
        background-image: url(../images/vectors/2.png);
    }
}

#progress-fon {
    stroke-opacity: .4;
}

svg{
    width: 81px;
    position: absolute;
    top: -15px;
    left: -15px;
}

.service-elem-last {
    background-color: #FFFFFF;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn-light-small {
    color: #38C1BF !important;
    padding: 20px 60px !important;
    display: inline-block !important;
    text-transform: initial !important;
    letter-spacing: 0.03em;
    background-color: #FFFFFF !important;
    border: 2px solid #38C1BF;
    border-radius: 4px;
}

.btn-light-small::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-image: url(../images/vectors/Vector127.png);
}

.btn-light-small:hover, .btn-light-small:focus {
    color: white !important;
    background-color: #38C1BF !important;
}

.btn-light-small:hover::after {
    background-image: url(../images/vectors/Vecto17.png);
}

.service-elem-last:hover div, .service-elem-last:focus div, .service-elem-last:active div {
    background: #FFFFFF !important;
}

.section-second-index {
    margin-top: 120px;
    margin-bottom: 50px;

    h2 {
        color: #194A97;
    }
}

.about-index {
    position: relative;
    max-width: 580px;
    min-height: 420px;
    margin-bottom: 120px;

    h2 {
        color: #194A97
    }

    *:nth-child(3) {
        font-size: 26px !important;
        margin: 30px 0;
    }

    .about-index-r {
        position: absolute;
        top: 0;
        right: -500px;

        img {
            width: 420px;
            height: 420px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .about-index-r::before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 34px;
        height: 34px;
        background-size: 34px;
        background-image: url(../images/vectors/123.png);
    }

    .about-index-r::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 14px;
        height: 14px;
        background-size: 14px;
        background-image: url(../images/vectors/1234.png);
    }

    .about-index-link {
        transition: .3s;
        display: inline-block;
        color: #194A97;
        text-decoration: underline;
        margin-top: 50px;
    }
    .about-index-link::after {
        content: '';
        display: inline-block;
        background-image: url(../images/vectors/Vector317.png);
        width: 10px;
        height: 10px;
        background-size: 10px;
        margin-left: 10px;
    }
    .about-index-link:hover, .about-index-link:focus {
        color: #38C1BF;
    }
    .about-index-link:hover::after, .about-index-link:focus::after {
        background-image: url(../images/vectors/Vector117.png);
    }
}

.gallery-about-wrapper article .gallery-about-r:not(*:first-child) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-about-wrapper, #navigationUnderGallery {
    article {
        display: flex;
        justify-content: space-between;

        .gallery-about-l, .gallery-about-r {
            height: 700px;
            width: 50%;
        }

        .gallery-about-l img {
            height: 101%;
            width: 100%;
            object-fit: cover;
        }

        .gallery-about-r {
            background-color: #194A97;
            padding: 120px 50px;

            h2 {
                color: #FFFFFF
            }
            h5 {
                margin: 50px 0 10px;
                color: #38C1BF;
            }
            h4 {
                color: #FFFFFF
            }
        }
    }
}

#navigationUnderGallery {
    height: 0px;
    position: relative;

    .gallery-about-l, .gallery-about-r, article {
        height: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .navigationUnderGallery {
        margin-top: -100px !important;
        z-index: 1;

        a {
            transition: .3s;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: inline-block;
            background-color: #38C1BF;
            margin-right: 15px;
            cursor: pointer;
        }

        a:hover, a:focus {
            background-color: #31ACAA;
        }

        a::after {
            content: '';
            display: block;
            width: 55px;
            height: 50px;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 8px;
            background-image: url(../images/vectors/2.png);
        }

        a:first-child {
            opacity: .6;
        }

        a:first-child::after {
            width: 45px;
            transform: rotate(180deg);
        }
    }
}

.under-gallery {
    background-color: #DFEBFF;
    padding: 100px 0;
    margin-bottom: 180px;

    section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>* {
            width: 50%;
        }
    }

    .under-gallery-l {
        display: flex;
        align-items: center;

        i {
            position: relative;
            display: inline-block;
            margin-bottom: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #FFFFFF;
        }

        h6 {
            color: #194A97;
        }

        i::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 50px;
            height: 50px;
            background-size: 34px;
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            top: 0;
        }

        div:nth-child(1) i::after {
            background-image: url(../images/vectors/a.png);
        }
        div:nth-child(2) i::after {
            background-image: url(../images/vectors/b.png);
        }
        div:nth-child(3) i::after {
            background-image: url(../images/vectors/c.png);
        }
    }

    .under-gallery-r {
        padding-left: 50px;

        p {
            margin-bottom: 20px;
            color: #194A97
        }
    }

}

.reviews {
    background-color: #F0F3F6;
    padding: 120px 0;
    margin: 120px 0;

    section {
        position: relative;
        display: flex;
        justify-content: space-between;

        & > .reviews-l {
            width: 275px;
            min-width: 275px;
        }

        & > .reviews-r {
            max-width: 70%;
        }
    }

    .reviews-l{
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 34px;
            height: 34px;
            background-size: 34px;
            background-image: url(../images/vectors/Vector24.png);
        }
    }

    .reviews-l a {
        text-decoration: underline;
        transition: .3s;
        color: #194A97;

        &::after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            background-size: 10px;
            margin-left: 10px;
            background-image: url(../images/vectors/Vector317.png);
        }
    }

    .reviews-l a:hover, .reviews-l a:focus {
        color: #38C1BF;
    }

    .reviews-l a:hover::after, .reviews-l a:focus::after {
        background-image: url(../images/vectors/Vector117.png);
    }

    h2 {
        color: #194A97;
        margin-bottom: 50px;
    }

    .review-elem {
        background-color: #FFFFFF;
        border-radius: 6px;
        padding: 30px 40px;
        margin-bottom: 30px;

        span {
            display: inline-block;
            font-size: 16px;
            color: #38C1BF;
        }
        h3 {
            color: #194A97;
            margin: 20px 0 10px;
        }
    }
    .review-elem:last-child {
        margin-bottom: 0;
    }
}

.index-gallery-wrapper {
    margin-bottom: 20px;
}

.gallery-btn {
    color: #194A97;
    text-decoration: underline;
    transition: .3s;

    &::after {
        width: 10px;
        height: 10px;
        background-size: 10px;
        content: '';
        display: inline-block;
        background-image: url(../images/vectors/Vector317.png);
        margin-left: 10px;
    }
}

.gallery-btn:hover, .gallery-btn:focus {
    color: #38C1BF;

    &::after {
        background-image: url(../images/vectors/Vector117.png);
    }
}

.index-form-section {
    margin: 180px auto;
}

.last-section {
    max-width: 900px;

    h2 {
        max-width: 680px;
        color: #194A97;
    }

    h3 {
        color: #194A97;
        margin-top: 50px;
        font-size: 22px;
    }

    p {
        margin-top: 30px;
    }

    .lastLink {
        font-size: 16px;
        color: #194A97;
        margin-top: 50px;
        transition: .3s;
        cursor: pointer;
        display: inline-block;
    }

    .lastLink::after {
        position: relative;
        margin-left: 10px;
        content: '';
        display: inline-block;
        width: 12px;
        height: 6px;
        background-size: 12px 6px;
        background-repeat: no-repeat;
        background-image: url(../images/vectors/arrow-ui.png);
        top: -1px;
    }
    .lastLink:hover, .lastLink:focus {
        color: #38C1BF;
    }

    .lastLink:hover::after, .astLink:focus::after {
        background-image: url(../images/vectors/arrow-u.png);
        transform: rotate(180deg);
    }

    .activeiLink.lastLink::after {
        transform: rotate(180deg);
    }
    .activeiLink.lastLink:hover::after, .activeiLink.astLink:focus::after {
        background-image: url(../images/vectors/arrow-u.png);
        transform: rotate(0deg);
    }
}


.act-h h2 {
    color: #194A97;
}

.act-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-act {

    a {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #38C1BF;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
        margin-left: 13px;
    }

    a::after {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 55px;
        content: '';
        background-repeat: no-repeat;
        background-size: 8px 16px;
        background-image: url(../images/vectors/2.png);
        background-position: center;
    }

    a:first-child {
        opacity: .6;

        &::after {
            transform: rotate(180deg);
            width: 45px;
        }
    }

    a:hover, a:focus {
        background-color: #31ACAA;
    }
}

.gallery-act {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

    .owl-item {
        padding: 20px 0 !important;
    }

    article {
        width: 580px;
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 25, 66, 0.2);
        border-radius: 6px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-bottom: 40px;
        }

        h4, p {
            padding: 0 40px 0;
        }

        p {
            color: #38C1BF;
            margin-bottom: 5px;
        }

        h4 {
            color: #194A97;
            padding-bottom: 40px;
        }
    }
}

.gallery-act {
    padding-left: 21px;
}

.main-wrapper {
    position: relative;
}

#progress-circle {
    transform-origin: center;
    transform: rotate(-90deg);
    //transition: stroke-dashoffset 3s;
}

.sticky {
    position: absolute;
    bottom: -50px;
    right: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 25, 66, 0.2);
    z-index: 10;
    cursor: pointer;
    transition: .3s;

    &::after {
        content: '';
        display: inline-block;
        width: 50px;
        height: 47px;
        background-position: center;
        background-size: 8px 16px;
        transform: rotate(-90deg);
        background-repeat: no-repeat;
        background-image: url(../images/vectors/1.png);
    }
}

.sticky:hover, .sticky:focus {
    background-color: #38C1BF;
    
    
    &::after {
        background-image: url(../images/vectors/2.png);
    }
}

.activeSlideGallery .gallery-about-r h2 {
    position: absolute !important;
    top: 20%;
}

@media screen and (max-width: 1230px) {
    .gallery-act article img {
        height: 103px;
        margin-bottom: 20px;
        border-radius: 6px 6px 0 0;
    }
    .gallery-act article h4 {
        padding-bottom: 60px;
    }
    .gallery-act {
        padding: 0 21px;
    
        article {
            width: 100%;
        }
    }   
    
}

@media screen and (max-width: 1150px) {
    .about-index .about-index-r {
        top: 100px;
        right: -310px;
    }
    .about-index .about-index-r::before,.about-index .about-index-r::after {
        display: none;
    }
    .about-index .about-index-r img {
        height: 290px;
        width: 290px;
    }
    .under-gallery {
        padding: 40px 0;
        margin-bottom: 120px;
    }
    .under-gallery section {flex-direction: column; &>* {width: 100%;}}
    .under-gallery .under-gallery-l {justify-content: space-between;}
    .under-gallery .under-gallery-l div {
        text-align: center;
        padding: 0 10px;
    }
    .under-gallery .under-gallery-r {
        text-align: center;
        max-width: 300px;
        margin: 40px auto 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 950px) {
    .about-index h2 {
        font-size: 30px;
    }
    .about-index {
        margin-right: 320px;
    }

    .about-index :nth-child(3) {
        font-size: 20px !important;
    }
    .about-index p {
        font-size: 15px;
    }
    .gallery-about-wrapper, #navigationUnderGallery {
        article {
    
            .gallery-about-l, .gallery-about-r {
                height: 513px;
            }
    
            .gallery-about-r {
                padding: 40px 30px 0;
    
                h2 {
                    font-size: 30px;
                }
                h5 {
                    margin: 40px 0 10px;
                    font-size: 16px;
                }
                h4 {
                    font-size: 18px;
                }
            }
        }
    }
    .reviews section {
        flex-direction: column;
    }
    .reviews section > .reviews-l {
        width: 100%;
        margin-bottom: 40px;

        h2 {
            font-size: 30px;
            margin-bottom: 30px;
        }

        a {
            font-size: 15px;
        }

        &::before {display: none;}
    }
    .reviews section > .reviews-r {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
    }
    .reviews .review-elem {
        width: 49%;
        padding: 20px;

        span, p {
            font-size: 15px;
        }
        h3 {
            font-size: 22px;
        }
        margin-bottom: 0;

    }
    .reviews {
        padding: 80px 0;
        margin: 80px 0;
    }
}

@media screen and (max-width: 900px) {
    .first-slide-index, .first-slide-elem {
        height: 80vh;
    }
    .sticky {
        display: none;
    }
    .last-section h2 {
        font-size: 30px;
    }
    .act-h h2 {
        font-size: 20px;
    }
    .first-slide-elem h1 {
        font-size: 36px;
    }
    .first-slide-elem .info-first-slide h4 {
        font-size: 22px;
    }
    .first-slide-elem .info-first-slide h5 {
        font-size: 16px;
    }
    .first-slide-elem p {
        font-size: 15px;
    }
    .section-second-index {
        margin-top: 80px;
        margin-bottom: 40px;
    
        h2 {
            font-size: 30px;
        }
    }

    #indexWrapper > article:nth-last-child(2), #indexWrapper > article:nth-last-child(3) {
        display: none;
    }
    #indexWrapper > article:last-child {
        width: 100%;
        height: 150px;
    }
    .index-form-section {
        margin: 120px auto 0;
    }
    .about-form {
        margin-bottom: 120px;
    }
    .last-section {
    
        h3 {
            font-size: 20px;
        }
    
        p {
            font-size: 15px;
        }
    }
    .activeSlideGallery .gallery-about-r {
        position: relative;
    }
    .activeSlideGallery .gallery-about-r h2 {
        top: 7%;
    }
}

@media screen and (max-width: 650px) {
    .activeSlideGallery .gallery-about-r h2 {
        top: 15%;
    }
    .about-index-r {
        position: relative !important;
        margin: 0 auto !important;
        top: auto !important;
        right: auto !important;
        text-align: center;
        margin-top: 30px !important;

        img {
            width: 300px;
            height: 300px;
        }
    }
    .about-index {
        margin-right: 0;
        min-width: 100%;
    }
    .first-slide-elem a {
        margin: 0 auto;
        width: min-content;
        display: block;
        white-space: nowrap;
        text-align: center;
        width: 75%;
    }
    .gallery-about-wrapper article, #navigationUnderGallery article {
        flex-direction: column;
    }
    .gallery-about-wrapper article .gallery-about-l, .gallery-about-wrapper article .gallery-about-r,
    #navigationUnderGallery article .gallery-about-l, #navigationUnderGallery article .gallery-about-r {
        width: 100%;
    }
    .gallery-about-wrapper article .gallery-about-l {
        height: 320px;
    }
    #navigationUnderGallery article .gallery-about-r {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        position: absolute;
        margin-top: -100px !important;
    }
    .under-gallery-l {
        flex-direction: column;
        max-width: 205px;
        margin: 0 auto;

        div {
            padding: 0;
            margin-top: 30px;
        }
        div:first-child {
            margin-top: 0;
        }
    }
    .reviews section > .reviews-r {
        flex-wrap: wrap;
    }
    .reviews .review-elem {
        width: 100%;
        padding: 20px;

        &:first-child {
            margin-bottom: 10px;
        }
        

    }
}

@media screen and (max-width: 600px) {
    .gallery-act {
        padding: 0 10px;
    }
    .social {
        margin-right: 15px;
    }
    svg {
        display: none;
    }
    .first-slide-index .owl-dots {
        justify-content: flex-start;
        margin-left: 10px;
        bottom: 15px;
    }
    #owlNav {
        position: absolute;
        right: 0;
        bottom: 15px;
    }
    .act-f {
        flex-direction: column-reverse;

        .nav-act {
            margin-bottom: 40px;
            margin-top: -30px;
        }
    }
}

@media screen and (max-width: 360px) {
    .activeSlideGallery .gallery-about-r h2 {
        top: 5%;
    }
}