<div class="footer">
    <section>
        <footer>
            <div class="footer-top">
              <div class="footer-top-col-l">
                <a href="" class="logo-footer"><img src="./assets/images/vectors/logo-footer.png" alt=""></a>
                <div class="footer-col">
                    <div class="col-top">
                        <p>Услуги</p>
                    </div>
                    <div class="col-bottom col-services">
                        <div class="col-l">
                            <ul>
                                <li><a href="">Профилактика</a></li>
                                <li><a href="">Терапия</a></li>
                                <li><a href="">Пародонтология</a></li>
                                <li><a href="">Хирургия</a></li>
                            </ul>
                        </div>
                        <div class="col-r">
                            <ul>
                                <li><a href="">Ортодонт в Екатеринбурге</a></li>
                                <li><a href="">Детская стоматология</a></li>
                                <li><a href="">Диагностика</a></li>
                                <li><a href="">Косметология</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
              </div>
                <div class="footer-top-col-r">
                    <div class="footer-col">
                        <div class="col-top">
                            <p>Адрес:</p>
                        </div>
                        <div class="col-bottom col-link">
                            <a>620102, г. Екатеринбург, 
                                ул. Московская, 66</a>
                            <a href="tel:8 (343) 288-22-22">8 (343) 288-22-22</a>
                            <a href="mailto:info@d-ac.ru">info@d-ac.ru</a>
                        </div>
                    </div>
                    <div class="footer-col">
                        <div class="col-top">
                            <p>Мы в социальных сетях:</p>
                        </div>
                        <div class="col-bottom">
                           <div class="social-footer">
                               <a href=""></a>
                               <a href=""></a>
                               <a href=""></a>
                           </div>
                           <a href="" class="btn">Записаться на прием</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-l">
                    <p>© Dental Academy, 2015 - 2020 гг.</p>
                    <a href="">Политика конфиденциальности</a>
                </div>
                <p>Дизайн <a target="_blank" href="">Insight studio</a></p>
            </div>
        </footer>
    </section>
</div>
